@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html, body{
    line-height: 1.5;
    box-sizing: border-box;
    overflow-x: hidden;
    top: 0;
    left: 0;
}

header{
    font-family: 'Poppins';
    float: left;
}
ul{
    margin-left: auto;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #64ffda;
}

.navbar{
    background: none;
    padding: 3rem 2rem;
    height: 0rem;
    min-height: 12vh;
}
.navbar .navbar-brand a {
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}

.navbar-brand{
    font-family: 'Poppins';
    font-size: 3.5rem;
    color: white;
}
.navbar-toggler {
    background-color: #64ffda;
    border: none;
    padding: 10px 6px;
}
.navbar-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: white;
}
.navbar-toggler span + span{
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}
.navbar-toggler span + span + span{
    width: 10px;
    margin-left: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0.5rem 1.2rem;
    font-size: 1.4rem;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    border-bottom: 4px solid #64ffda;
}
.navbar-expand-lg .navbar-nav .nav-link.active{
    border-bottom: 4px solid red;
    color: red;
}

.navbar-nav button{
    padding: 1.2rem 0;
}
.navbar-nav .btn{
    background-color: red;
    color: white;
    border-radius: 0;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    margin-top: -10px;
}
.navbar-nav .btn:hover{
    background-color: blue;
}



/*   CONTENIDO   */



.titulo{
    font-size: 400%;
    margin-left: 0%;
    font-family: Poppins;
    letter-spacing: 5px;

}

.contenido1{
    width: 100%;
    height: 900px;
    background-color: none;
    margin-top: 5%;
    text-align: center;

}
.tarjeta1{
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}

.tarjeta2{
    float: left;
    margin-left: 100px;
    margin-top: 60px;
}

.card-img{
    height: 300px;
    width: 500px;
}


.tarjeta1 img{
    transition: transform 2s;
}

.tarjeta1:hover img{
    transform: scale(1.2);
}

.card-img-overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: transform .5s ;
}

.tarjeta1:hover .card-img-overlay{
    transform: scaleY(1);
}

.tarjeta2 img{
    transition: transform 2s;
}

.tarjeta2:hover img{
    transform: scale(1.2);
}
.tarjeta2:hover .card-img-overlay{
    transform: scaleY(1);
}

.letra{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    color: #fff;
}



